<html>

  <head>
    <title>Happy Birthday</title>
  </head>

  <body>
    <h1>Happy Birthday <strong>{{name}}</strong></h1>
    <p>We wish you a prosperous and happy birthday. We hope all your dreams and
      ambitions are realized.</p>
  </body>
</html>