<!DOCTYPE html>
<html>

<head>
  <title>Happy Birthday</title>
</head>

<body>
  <div style="background-image: url('images/background.jpg'); width: 1024px; height: 576px; background-size: cover;">
    <span>{{name}}</span>
    <span>{{position}}</span>
    <span>20</span>
    <span>Abr</span>
    <img src="{{image}}" alt="{{name}}">
  </div>
</body>

</html>